#mysql
mysql:
  image: mysql:5.7
  volumes:
    - ${PWD}/sql:/docker-entrypoint-initdb.d
    - ${PWD}/conf:/etc/mysql/conf.d
  ports:
    - "3306:3306"
  environment:
    MYSQL_DATABASE: superapps
    MYSQL_ROOT_PASSWORD: rtquLMJjHhRh
    MYSQL_USER: pma
    MYSQL_PASSWORD: pmauser

#php-apache
webserver:
  build: webserver
  volumes:
    - ${PWD}/src:/var/www/html
    - ${PWD}/webserver:/temp/webserver
  ports:
    - "80:80"
  links:
    - mysql
  # command: ["sh", "/temp/webserver/wait-for-mysql.sh", "mysql", "tail", "-f", "/dev/null"]
